@font-face {
  font-family: MyRoboto-B;
  font-weight: 900;
  src: url("../src/assets/Roboto-Bold.ttf");
}
@font-face {
  font-family: MyRoboto-R;
  font-weight: 400;
  src: url("../src/assets/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
}
body {
  background-color: hsl(235, 18%, 26%);
  margin: 0;
  font-family: MyRoboto-R;
}
